<footer>
  <div class="footer-line"></div>
  <div class="footer-content">
    <div class="left box">
      <div class="upper">
        <div class="topic">Get In Touch</div>
        <p>
          Plot No. 25
          <br />Kh No. 821/2/1, Street No 3 <br />
          Gulab Vatika, Loni <br />
          Uttar Pradesh - 201102
        </p>
      </div>
      <div class="lower">
        <div class="topic">Contact us</div>
        <div class="phone">
          <a href="tel:917838898930"
            ><i class="fas fa-phone-volume"></i>+91 78388 98930</a
          >
        </div>
        <div class="email">
          <a href="mailto:info@adihardwares.com" target="_blank">
            <i class="fas fa-envelope"></i>info@adihardwares.com</a
          >
        </div>
      </div>
    </div>
    <div class="middle box">
      <div class="topic">Quick Links</div>
      <div><a href="/search/telescopic%20channels">> Telescopic Channels</a></div>
      <div><a href="/search/hinges">> Hinges</a></div>
      <div><a href="/search/kitchen%20accessories">> Kitchen Accessories</a></div>
      <div><a href="/search/wardrobe%20accessories">> Wardrobe Accessories</a></div>
      <div><a href="/search/mortice%20handle%20locks">> Mortice Handles</a></div>
      <div><a href="/search/hydraulic%20drawer%20system">> Innotech Drawers</a></div>
      <div><a href="/search/fancy%20handles">> Cabinet Handles</a></div>
    </div>
    <div class="right box">
      <div class="topic">Visit us</div>
      <div class="address">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13996.796106556943!2d77.2921192!3d28.7135975!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfbf730ded833%3A0xb6e636dbcb5537b7!2sADI%20Hardwares!5e0!3m2!1sen!2sin!4v1690114516093!5m2!1sen!2sin"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="media-icons">
        <a
          href="https://www.facebook.com/profile.php?id=100090357311362"
          target="_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="https://www.instagram.com/adihardwares/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="/"><i class="fab fa-twitter"></i></a>
        <a href="/"><i class="fab fa-youtube"></i></a>
        <a href="/"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <p id="copyright">
      Copyright © <span id="year"></span><a href="/"> Adi Hardwares</a> All
      rights reserved
    </p>
  </div>
</footer>

<script>
  // Get the current year
  const currentYear = new Date().getFullYear();
  document.getElementById("year").innerHTML = currentYear;
</script>
</body>
</html>
