<footer>
  <div class="footer-line"></div>
  <div class="footer-content">
    <div class="left box">
      <div class="upper">
        <div class="topic">Get In Touch</div>
        <p>
          Plot No. 25
          <br />Kh No. 821/2/1, Street No 3 <br />
          Gulab Vatika, Loni <br />
          Uttar Pradesh - 201102
        </p>
      </div>
      <div class="lower">
        <div class="topic">Contact us</div>
        <div class="phone">
          <a href="#"><i class="fas fa-phone-volume"></i>+91 78388 98930</a>
        </div>
        <div class="email">
          <a href="mailto:info@adihardwares.com">
            <i class="fas fa-envelope"></i>info@adihardwares.com</a
          >
        </div>
      </div>
    </div>
    <div class="middle box">
      <div class="topic">Quick Links</div>
      <div><a href="#">> Telescopic Channels</a></div>
      <div><a href="#">> Hinges</a></div>
      <div><a href="#">> Kitchen Accessories</a></div>
      <div><a href="#">> Wardrobe Accessories</a></div>
      <div><a href="#">> Mortice Handles</a></div>
      <div><a href="#">> Innotech Drawers</a></div>
    </div>
    <div class="right box">
      <div class="topic">Visit us</div>
      <div class="address">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3499.197505021188!2d77.28989461508442!3d28.713642982385903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjjCsDQyJzQ5LjEiTiA3N8KwMTcnMzEuNSJF!5e0!3m2!1sen!2sin!4v1689697970013!5m2!1sen!2sin"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <p>Copyright © 2023 <a href="#">Adi Hardwares</a> All rights reserved</p>
  </div>
</footer>
