<style>
    .get-catalogue-section {
      padding: 50px 0;
      text-align: center;
    }
  
    .section-heading {
      font-size: 3rem;
      margin-bottom: 40px;
    }
  
    .cata-button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 2rem;
      text-decoration: none;
      background-color: #af2220;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    .cata-button i {
      margin-right: 5px;
    }
    .cata-button:hover{
        background-color: #de2025;
    }
  
    /* Media Query for responsiveness */
    @media screen and (max-width: 768px) {
      .section-heading {
        font-size: 50px;
      }
      .btn{
        font-size: 30px;
      }
    }
  
    @media screen and (max-width: 576px) {
      .section-heading {
        font-size: 35px;
      }
      .btn{
        font-size: 25px;
      }
    }
  </style>
  
  <section class="get-catalogue-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-heading">Get Our Catalogue</h2>
          <a href="/AdiHardwares_Catalogue.pdf" download="ADI-2024.pdf" type="application/pdf" class="btn cata-button btn-primary">
            <i class="fas fa-download"></i> Download Catalogue
          </a>
        </div>
      </div>
    </div>
  </section>
  