<style>
  .left-section,
  .center-section1,
  .center-section2,
  .right-section {
    overflow: hidden;
  }
  .left-section img,
  .center-section1 img,
  .center-section2 img,
  .right-section img {
    transition: all 1.3s ease;
    max-width: 100%;
  }
  .left-section:hover img,
  .center-section1:hover img,
  .center-section2:hover img,
  .right-section:hover img {
    transform: scale(1.5);
  }
  #home_product {
    margin-top: 5%;
  }
  @media screen and (max-width: 800px) {
    #home_product {
      margin-top: 12%;
    }
  }
  @media screen and (max-width: 575px) {
    #home_product {
      margin-top: 20%;
    }
  }
  
</style>
<div id="home_product">
  <div class="middle-adds">
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-4 col-sm-4 col-xs-12 left-section"> -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-4 left-section">
          <a href="/search/fancy%20handles">
            <img src="images/door-lock.jpg" class="img-responsive" />
          </a>
        </div>

        <!-- <div class="col-md-4  col-sm-4 col-xs-12"> -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-4">
          <div class="col-md-12 center-section1">
            <a href="/search/hinges">
              <img src="images/hinges-1.jpg" class="img-responsive" />
            </a>
          </div>

          <div class="col-md-12 center-section2">
            <a href="/search/mortice%20handle%20locks">
              <img src="images/mortice.jpg" class="img-responsive" />
            </a>
          </div>
        </div>

        <!-- <div class="col-md-4   col-sm-4 col-xs-12 right-section"> -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-4 right-section">
          <a href="/search/hydraulic%20drawer%20system">
            <img src="images/tandom.jpg" class="img-responsive" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
