<style>
    .notfound{
        margin-top: 5%;
        text-align: center;
        justify-content: center;
        min-height: 5vh;
        color: #de2025;
    }
</style>
<%- include('partials/upperLayout',{ title: "ADI - Not Found" }); %>
<a href="/"><h1 class="text-center font-weight-bold" style="margin-top: 25px;"> <img src="../images/logo.png" alt="logo" style="display: inline-block; height: 50px; width: 100px;">Adi Hardwares </h1></a>
<div class="notfound"><h3>Please Login To Access This resource</h3></div>
<a href="/login" style="align-items: center;"><button type="button" class="btn btn-danger btn-lg">Login</button></a>
<%- include('partials/footer'); %> 